@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  5% {
    background-position: 33% 74%;
  }
  10% {
    background-position: 66% 100%;
  }
  15% {
    background-position: 100% 7%;
  }
  20% {
    background-position: 0% 7%;
  }
  25% {
    background-position: 33% 74%;
  }
  30% {
    background-position: 66% 100%;
  }
  35% {
    background-position: 100% 7%;
  }
  40% {
    background-position: 0% 7%;
  }
  45% {
    background-position: 33% 74%;
  }
  50% {
    background-position: 66% 100%;
  }
  55% {
    background-position: 100% 7%;
  }
  60% {
    background-position: 0% 7%;
  }
  65% {
    background-position: 33% 74%;
  }
  70% {
    background-position: 66% 100%;
  }
  75% {
    background-position: 100% 7%;
  }
  80% {
    background-position: 0% 7%;
  }
  85% {
    background-position: 33% 74%;
  }
  90% {
    background-position: 66% 100%;
  }
  95% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  5% {
    background-position: 33% 74%;
  }
  10% {
    background-position: 66% 100%;
  }
  15% {
    background-position: 100% 7%;
  }
  20% {
    background-position: 0% 7%;
  }
  25% {
    background-position: 33% 74%;
  }
  30% {
    background-position: 66% 100%;
  }
  35% {
    background-position: 100% 7%;
  }
  40% {
    background-position: 0% 7%;
  }
  45% {
    background-position: 33% 74%;
  }
  50% {
    background-position: 66% 100%;
  }
  55% {
    background-position: 100% 7%;
  }
  60% {
    background-position: 0% 7%;
  }
  65% {
    background-position: 33% 74%;
  }
  70% {
    background-position: 66% 100%;
  }
  75% {
    background-position: 100% 7%;
  }
  80% {
    background-position: 0% 7%;
  }
  85% {
    background-position: 33% 74%;
  }
  90% {
    background-position: 66% 100%;
  }
  95% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-o-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  5% {
    background-position: 33% 74%;
  }
  10% {
    background-position: 66% 100%;
  }
  15% {
    background-position: 100% 7%;
  }
  20% {
    background-position: 0% 7%;
  }
  25% {
    background-position: 33% 74%;
  }
  30% {
    background-position: 66% 100%;
  }
  35% {
    background-position: 100% 7%;
  }
  40% {
    background-position: 0% 7%;
  }
  45% {
    background-position: 33% 74%;
  }
  50% {
    background-position: 66% 100%;
  }
  55% {
    background-position: 100% 7%;
  }
  60% {
    background-position: 0% 7%;
  }
  65% {
    background-position: 33% 74%;
  }
  70% {
    background-position: 66% 100%;
  }
  75% {
    background-position: 100% 7%;
  }
  80% {
    background-position: 0% 7%;
  }
  85% {
    background-position: 33% 74%;
  }
  90% {
    background-position: 66% 100%;
  }
  95% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  5% {
    background-position: 33% 74%;
  }
  10% {
    background-position: 66% 100%;
  }
  15% {
    background-position: 100% 7%;
  }
  20% {
    background-position: 0% 7%;
  }
  25% {
    background-position: 33% 74%;
  }
  30% {
    background-position: 66% 100%;
  }
  35% {
    background-position: 100% 7%;
  }
  40% {
    background-position: 0% 7%;
  }
  45% {
    background-position: 33% 74%;
  }
  50% {
    background-position: 66% 100%;
  }
  55% {
    background-position: 100% 7%;
  }
  60% {
    background-position: 0% 7%;
  }
  65% {
    background-position: 33% 74%;
  }
  70% {
    background-position: 66% 100%;
  }
  75% {
    background-position: 100% 7%;
  }
  80% {
    background-position: 0% 7%;
  }
  85% {
    background-position: 33% 74%;
  }
  90% {
    background-position: 66% 100%;
  }
  95% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 7%;
  }
}

/* Para los demás prefijos de navegadores, puedes copiar las mismas keyframes */



@keyframes progress {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform-origin: left;
    transform: scaleX(1);
  }
}
